<launch>

  <rosparam param="leftLine">[0, 0]</rosparam>
  <rosparam param="rightLine">[0, 0]</rosparam>
  <rosparam param="horizon_line">0</rosparam>
  <rosparam param="roi_points">[[0,0],[0,0],[0,0],[0,0]]</rosparam>

  <node pkg="rosbag" type="play" name="video_player" args="/home/manuel/catkin_ws/bagfiles/Cali-Palmira-dataset/Carril-Demarcado/caliPalmiraDos_1.bag -l -r 1"/>

 	<!--<node pkg="rosbag" type="play" name="video_player" args="/home/jose/catkin_ws/bagfiles/Cali-Palmira-dataset/Carril-Demarcado/caliPalmiraDos_1.bag -l"/>-->

  <!--<node name="lane_model" pkg="self_driving_car_thesis" type="lane_model.py">  </node>-->
 
  
</launch>
